[Unit]
Description=Rust e-ink image conversion queue
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/local/bin/convert-queue
User=eink
WorkingDirectory=/home/eink
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target
