[Unit]
Description=Rust e-ink display webserver
After=network.target
Wants=network-online.target
Wants=convert-queue.service

[Service]
Restart=always
Type=simple
ExecStart=/usr/local/bin/display-server
User=eink
Environment='APP_PASSWORD='
Environment='UPLOAD_PATH=/home/eink'
Environment='BASE64_COOKIE_SECRET='
WorkingDirectory=/home/eink

[Install]
WantedBy=multi-user.target
